﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:868px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u693 {
  border-width:0px;
  position:absolute;
  left:70px;
  top:29px;
  width:420px;
  height:573px;
}
#u694_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u694 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u694_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u695_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:20px;
}
#u695 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:0px;
  width:180px;
  height:20px;
}
#u695_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:176px;
  word-wrap:break-word;
}
#u696_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:20px;
}
#u696 {
  border-width:0px;
  position:absolute;
  left:280px;
  top:0px;
  width:140px;
  height:20px;
}
#u696_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:136px;
  word-wrap:break-word;
}
#u697_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u697 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:20px;
  width:100px;
  height:36px;
}
#u697_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u698_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:36px;
}
#u698 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:20px;
  width:180px;
  height:36px;
}
#u698_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:176px;
  word-wrap:break-word;
}
#u699_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:36px;
}
#u699 {
  border-width:0px;
  position:absolute;
  left:280px;
  top:20px;
  width:140px;
  height:36px;
}
#u699_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:136px;
  word-wrap:break-word;
}
#u700_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u700 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:56px;
  width:100px;
  height:20px;
}
#u700_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u701_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:20px;
}
#u701 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:56px;
  width:180px;
  height:20px;
}
#u701_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:176px;
  word-wrap:break-word;
}
#u702_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:20px;
}
#u702 {
  border-width:0px;
  position:absolute;
  left:280px;
  top:56px;
  width:140px;
  height:20px;
}
#u702_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:136px;
  word-wrap:break-word;
}
#u703_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u703 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:76px;
  width:100px;
  height:30px;
}
#u703_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u704_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:30px;
}
#u704 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:76px;
  width:180px;
  height:30px;
}
#u704_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:176px;
  word-wrap:break-word;
}
#u705_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:30px;
}
#u705 {
  border-width:0px;
  position:absolute;
  left:280px;
  top:76px;
  width:140px;
  height:30px;
}
#u705_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:136px;
  word-wrap:break-word;
}
#u706_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u706 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:106px;
  width:100px;
  height:30px;
}
#u706_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u707_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:30px;
}
#u707 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:106px;
  width:180px;
  height:30px;
}
#u707_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:176px;
  word-wrap:break-word;
}
#u708_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:30px;
}
#u708 {
  border-width:0px;
  position:absolute;
  left:280px;
  top:106px;
  width:140px;
  height:30px;
}
#u708_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:136px;
  word-wrap:break-word;
}
#u709_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u709 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:136px;
  width:100px;
  height:30px;
}
#u709_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u710_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:30px;
}
#u710 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:136px;
  width:180px;
  height:30px;
}
#u710_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:176px;
  word-wrap:break-word;
}
#u711_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:30px;
}
#u711 {
  border-width:0px;
  position:absolute;
  left:280px;
  top:136px;
  width:140px;
  height:30px;
}
#u711_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:136px;
  word-wrap:break-word;
}
#u712_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:27px;
}
#u712 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:166px;
  width:100px;
  height:27px;
}
#u712_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u713_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:27px;
}
#u713 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:166px;
  width:180px;
  height:27px;
}
#u713_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:176px;
  word-wrap:break-word;
}
#u714_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:27px;
}
#u714 {
  border-width:0px;
  position:absolute;
  left:280px;
  top:166px;
  width:140px;
  height:27px;
}
#u714_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:136px;
  word-wrap:break-word;
}
#u715_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u715 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:193px;
  width:100px;
  height:30px;
}
#u715_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u716_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:30px;
}
#u716 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:193px;
  width:180px;
  height:30px;
}
#u716_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:176px;
  word-wrap:break-word;
}
#u717_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:30px;
}
#u717 {
  border-width:0px;
  position:absolute;
  left:280px;
  top:193px;
  width:140px;
  height:30px;
}
#u717_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:136px;
  word-wrap:break-word;
}
#u718_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u718 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:223px;
  width:100px;
  height:20px;
}
#u718_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u719_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:20px;
}
#u719 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:223px;
  width:180px;
  height:20px;
}
#u719_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:176px;
  word-wrap:break-word;
}
#u720_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:20px;
}
#u720 {
  border-width:0px;
  position:absolute;
  left:280px;
  top:223px;
  width:140px;
  height:20px;
}
#u720_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:136px;
  word-wrap:break-word;
}
#u721_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u721 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:243px;
  width:100px;
  height:30px;
}
#u721_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u722_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:30px;
}
#u722 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:243px;
  width:180px;
  height:30px;
}
#u722_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:176px;
  word-wrap:break-word;
}
#u723_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:30px;
}
#u723 {
  border-width:0px;
  position:absolute;
  left:280px;
  top:243px;
  width:140px;
  height:30px;
}
#u723_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:136px;
  word-wrap:break-word;
}
#u724_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u724 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:273px;
  width:100px;
  height:30px;
}
#u724_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u725_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:30px;
}
#u725 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:273px;
  width:180px;
  height:30px;
}
#u725_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:176px;
  word-wrap:break-word;
}
#u726_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:30px;
}
#u726 {
  border-width:0px;
  position:absolute;
  left:280px;
  top:273px;
  width:140px;
  height:30px;
}
#u726_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:136px;
  word-wrap:break-word;
}
#u727_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u727 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:303px;
  width:100px;
  height:30px;
}
#u727_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u728_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:30px;
}
#u728 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:303px;
  width:180px;
  height:30px;
}
#u728_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:176px;
  word-wrap:break-word;
}
#u729_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:30px;
}
#u729 {
  border-width:0px;
  position:absolute;
  left:280px;
  top:303px;
  width:140px;
  height:30px;
}
#u729_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:136px;
  word-wrap:break-word;
}
#u730_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u730 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:333px;
  width:100px;
  height:30px;
}
#u730_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u731_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:30px;
}
#u731 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:333px;
  width:180px;
  height:30px;
}
#u731_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:176px;
  word-wrap:break-word;
}
#u732_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:30px;
}
#u732 {
  border-width:0px;
  position:absolute;
  left:280px;
  top:333px;
  width:140px;
  height:30px;
}
#u732_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:136px;
  word-wrap:break-word;
}
#u733_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u733 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:363px;
  width:100px;
  height:30px;
}
#u733_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u734_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:30px;
}
#u734 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:363px;
  width:180px;
  height:30px;
}
#u734_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:176px;
  word-wrap:break-word;
}
#u735_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:30px;
}
#u735 {
  border-width:0px;
  position:absolute;
  left:280px;
  top:363px;
  width:140px;
  height:30px;
}
#u735_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:136px;
  word-wrap:break-word;
}
#u736_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u736 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:393px;
  width:100px;
  height:30px;
}
#u736_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u737_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:30px;
}
#u737 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:393px;
  width:180px;
  height:30px;
}
#u737_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:176px;
  word-wrap:break-word;
}
#u738_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:30px;
}
#u738 {
  border-width:0px;
  position:absolute;
  left:280px;
  top:393px;
  width:140px;
  height:30px;
}
#u738_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:136px;
  word-wrap:break-word;
}
#u739_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u739 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:423px;
  width:100px;
  height:30px;
}
#u739_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u740_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:30px;
}
#u740 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:423px;
  width:180px;
  height:30px;
}
#u740_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:176px;
  word-wrap:break-word;
}
#u741_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:30px;
}
#u741 {
  border-width:0px;
  position:absolute;
  left:280px;
  top:423px;
  width:140px;
  height:30px;
}
#u741_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:136px;
  word-wrap:break-word;
}
#u742_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u742 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:453px;
  width:100px;
  height:30px;
}
#u742_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u743_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:30px;
}
#u743 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:453px;
  width:180px;
  height:30px;
}
#u743_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:176px;
  word-wrap:break-word;
}
#u744_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:30px;
}
#u744 {
  border-width:0px;
  position:absolute;
  left:280px;
  top:453px;
  width:140px;
  height:30px;
}
#u744_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:136px;
  word-wrap:break-word;
}
#u745_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u745 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:483px;
  width:100px;
  height:30px;
}
#u745_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u746_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:30px;
}
#u746 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:483px;
  width:180px;
  height:30px;
}
#u746_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:176px;
  word-wrap:break-word;
}
#u747_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:30px;
}
#u747 {
  border-width:0px;
  position:absolute;
  left:280px;
  top:483px;
  width:140px;
  height:30px;
}
#u747_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:136px;
  word-wrap:break-word;
}
#u748_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u748 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:513px;
  width:100px;
  height:30px;
}
#u748_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u749_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:30px;
}
#u749 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:513px;
  width:180px;
  height:30px;
}
#u749_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:176px;
  word-wrap:break-word;
}
#u750_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:30px;
}
#u750 {
  border-width:0px;
  position:absolute;
  left:280px;
  top:513px;
  width:140px;
  height:30px;
}
#u750_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:136px;
  word-wrap:break-word;
}
#u751_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u751 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:543px;
  width:100px;
  height:30px;
}
#u751_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u752_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:30px;
}
#u752 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:543px;
  width:180px;
  height:30px;
}
#u752_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:176px;
  word-wrap:break-word;
}
#u753_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:30px;
}
#u753 {
  border-width:0px;
  position:absolute;
  left:280px;
  top:543px;
  width:140px;
  height:30px;
}
#u753_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:136px;
  word-wrap:break-word;
}
#u754 {
  border-width:0px;
  position:absolute;
  left:514px;
  top:29px;
  width:354px;
  height:156px;
}
#u755_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u755 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u755_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u756_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:30px;
}
#u756 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:0px;
  width:136px;
  height:30px;
}
#u756_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:132px;
  word-wrap:break-word;
}
#u757_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:30px;
}
#u757 {
  border-width:0px;
  position:absolute;
  left:236px;
  top:0px;
  width:118px;
  height:30px;
}
#u757_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:114px;
  word-wrap:break-word;
}
#u758_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u758 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:100px;
  height:36px;
}
#u758_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u759_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:36px;
}
#u759 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:30px;
  width:136px;
  height:36px;
}
#u759_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:132px;
  word-wrap:break-word;
}
#u760_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:36px;
}
#u760 {
  border-width:0px;
  position:absolute;
  left:236px;
  top:30px;
  width:118px;
  height:36px;
}
#u760_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:114px;
  word-wrap:break-word;
}
#u761_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u761 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:66px;
  width:100px;
  height:30px;
}
#u761_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u762_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:30px;
}
#u762 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:66px;
  width:136px;
  height:30px;
}
#u762_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:132px;
  word-wrap:break-word;
}
#u763_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:30px;
}
#u763 {
  border-width:0px;
  position:absolute;
  left:236px;
  top:66px;
  width:118px;
  height:30px;
}
#u763_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:114px;
  word-wrap:break-word;
}
#u764_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u764 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:96px;
  width:100px;
  height:30px;
}
#u764_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u765_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:30px;
}
#u765 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:96px;
  width:136px;
  height:30px;
}
#u765_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:132px;
  word-wrap:break-word;
}
#u766_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:30px;
}
#u766 {
  border-width:0px;
  position:absolute;
  left:236px;
  top:96px;
  width:118px;
  height:30px;
}
#u766_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:114px;
  word-wrap:break-word;
}
#u767_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u767 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:126px;
  width:100px;
  height:30px;
}
#u767_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u768_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:30px;
}
#u768 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:126px;
  width:136px;
  height:30px;
}
#u768_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:132px;
  word-wrap:break-word;
}
#u769_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:30px;
}
#u769 {
  border-width:0px;
  position:absolute;
  left:236px;
  top:126px;
  width:118px;
  height:30px;
}
#u769_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:114px;
  word-wrap:break-word;
}
